---
layout: index
---

{% for post in paginator.posts %}
<div class="post-preview container">
    <div class="col-md-7 pull-md-right col-sm-12">
      <a href="{{ post.url | prepend: site.baseurl }}">
        <div class="listing-post-image" style="background-image: url('{{ site.baseurl }}/{% if post.header-img %}{{ post.header-img }}{% else %}{{ site.brand-primary }}{% endif %}')"></div>
    </div>
    <div class="listing-post-text col-md-5">
          <small class="post-meta">{{ post.categories }} • {{ post.date | date: "%d-%m-%Y " }}</small>
          <h2 class="post-title">
          {{ post.title }}
        </h2>
        <!--
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <p class="post-meta">{{ post.date | date: "%d-%m-%Y " }}</p>
       -->
    </a>
  </div>
</div>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Suivant</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Précédant &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
