<!-- Navigation -->
<!-- Collect the nav links, forms, and other content for toggling -->

<nav class="navbar col-md-3 navbar-custom hidden-md-down">
      <ul class="nav navbar-nav">
        <li class="nav-item">
        <a class="navbar-brand nav-link" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </li>
          {% for page in site.pages %}{% if page.title %}
  {% if page.url != '/404.html' %}
          <li class="nav-item">
              <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </li>
  {% endif %}
          {% endif %}{% endfor %}
      </ul>


<div class="social">
              <ul class="list-inline text-xs-center">
                  {% if site.twitter_username %}
                  <li class="list-inline-item nav-item">
                      <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                  </li>
                  {% endif %}
                  {% if site.instagram_username %}
                  <li class="list-inline-item">
                      <a target="_blank" href="https://instagram.com/{{ site.instagram_username }}">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                  </li>
                  {% endif %}
                  {% if site.linkedin_username %}
                  <li class="list-inline-item">
                      <a target="_blank" href="https://linkedin.com/in/{{ site.linkedin_username }}">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                  </li>
                  {% endif %}
                  {% if site.facebook_username %}
                  <li class="list-inline-item">
                      <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                  </li>
                  {% endif %}
                  {% if site.github_username %}
                  <li class="list-inline-item">
                      <a target="_blank" href="https://github.com/{{ site.github_username }}">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                  </li>
                  {% endif %}
                  {% if site.email_username %}
                  <li class="list-inline-item">
                      <a target="_blank" href="mailto:{{ site.email_username }}">
                          <span class="fa-stack fa-lg">
                              <i class="fa fa-circle fa-stack-2x"></i>
                              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                          </span>
                      </a>
                  </li>
                  {% endif %}
              </ul>
</div>
</nav>

 <div class="hidden-lg-up">
   <a class="navbar-brand nav-link" href="{{ site.baseurl }}/">{{ site.title }}</a>

 <a href="#cd-nav" class="cd-nav-trigger">Menu
		<span class="cd-nav-icon"></span>
	</a>

	<div id="cd-nav" class="cd-nav navbar-custom">
		<div class="cd-navigation-wrapper">
			<div class="cd-half-block">

				<nav>
					<ul class="cd-primary-nav nav navbar-nav">
            <li class="nav-item">
            <a class="navbar-brand nav-link" href="{{ site.baseurl }}/">{{ site.title }}</a>
            </li>
            {% for page in site.pages %}{% if page.title %}
    {% if page.url != '/404.html' %}
            <li class="nav-item">
                <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
    {% endif %}
            {% endif %}{% endfor %}
					</ul>
				</nav>
			</div><!-- .cd-half-block -->

			<div class="cd-half-block">
        <div class="social">
                      <ul class="list-inline text-xs-center">
                          {% if site.twitter_username %}
                          <li class="list-inline-item nav-item">
                              <a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
                                  <span class="fa-stack fa-lg">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                  </span>
                              </a>
                          </li>
                          {% endif %}
                          {% if site.instagram_username %}
                          <li class="list-inline-item">
                              <a target="_blank" href="https://instagram.com/{{ site.instagram_username }}">
                                  <span class="fa-stack fa-lg">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                  </span>
                              </a>
                          </li>
                          {% endif %}
                          {% if site.linkedin_username %}
                          <li class="list-inline-item">
                              <a target="_blank" href="https://linkedin.com/in/{{ site.linkedin_username }}">
                                  <span class="fa-stack fa-lg">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                                  </span>
                              </a>
                          </li>
                          {% endif %}
                          {% if site.facebook_username %}
                          <li class="list-inline-item">
                              <a target="_blank" href="https://www.facebook.com/{{ site.facebook_username }}">
                                  <span class="fa-stack fa-lg">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                  </span>
                              </a>
                          </li>
                          {% endif %}
                          {% if site.github_username %}
                          <li class="list-inline-item">
                              <a target="_blank" href="https://github.com/{{ site.github_username }}">
                                  <span class="fa-stack fa-lg">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                  </span>
                              </a>
                          </li>
                          {% endif %}
                          {% if site.email_username %}
                          <li class="list-inline-item">
                              <a target="_blank" href="mailto:{{ site.email_username }}">
                                  <span class="fa-stack fa-lg">
                                      <i class="fa fa-circle fa-stack-2x"></i>
                                      <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                  </span>
                              </a>
                          </li>
                          {% endif %}
                      </ul>
        </div>
			</div> <!-- .cd-half-block -->
		</div> <!-- .cd-navigation-wrapper -->
	</div>
</div>
