<!-- Navigation -->
<!-- Collect the nav links, forms, and other content for toggling -->
<nav class="navbar navbar-custom">
  <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <ul class="nav navbar-nav pull-right">
          <li class="nav-item">
              <a class="nav-link" href="{{ site.baseurl }}/">Journal</a>
          </li>
          {% for page in site.pages %}{% if page.title %}
  {% if page.url != '/404.html' %}
          <li class="nav-item">
              <a class="nav-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </li>
  {% endif %}
          {% endif %}{% endfor %}
      </ul>

</nav>
