<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="page-scroll">
          <div class="container center-block">

        <div class="col-xs-3 text-xs-left">
                    <a href="{{ site.baseurl }}/">Blogue</a>
      </div>
      <div class="col-xs-6 text-xs-center">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>
    <div class="col-xs-3 text-xs-right">
      <a href="{{ page.about | prepend: site.baseurl }}">Info</a>
  </div>

          </div>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
