---
layout: default
---
<div class="main-content">
		<div class="col-md-7 offset-md-1">
			{% for post in site.posts %}
			<a class="post-listing" href="{{ post.url | prepend: site.baseurl }}">
			    <div class="">
			      <small class="post-meta">{{ post.categories }} • {{ post.date | date: "%d-%m-%Y " }}</small>
			    <h2 class="post-title">
			      {{ post.title }}
			    </h2>
			  </div>
			  <div class="col-md-11 offset-md-1">
			  <div class="post-image" style="background-image: url('{{ site.baseurl }}/{% if post.header-img %}{{ post.header-img }}{% else %}{{ site.brand-primary }}{% endif %}')"></div>

			  <p class="post-description">
			    {{post.description}}
			  </p>
			</div>
			</a>
			{% endfor %}
		</div>
</div>
